body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/Humo.webp);
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: #a7a3a3;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #c56a0e;
  margin: 1rem;
}

nav,
p,
li {
  margin: 1rem;
}

/* Grid */

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 1rem;
}

/* Tarjeta */

.tarjeta {
  background: linear-gradient(
    to right,
    rgba(87, 72, 67, 0.521) 0%,
    26.12612545490265%,
    rgba(239, 231, 210, 0.664) 52.2522509098053%,
    76.12612545490265%,
    rgba(13, 10, 27, 0.336) 100%
  );
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 18px;
  transition: transform 0.3s;
}

.tarjeta img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.tarjeta h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.tarjeta p {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.tarjeta:hover {
  transform: scale(1.1);
}

/* Footer */

footer {
  background: linear-gradient(
    to right,
    rgba(87, 72, 67, 0.377) 0%,
    26.12612545490265%,
    rgba(239, 231, 210, 0.445) 52.2522509098053%,
    76.12612545490265%,
    rgba(13, 10, 27, 0.336) 100%
  );
  color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 5px;
}

/* Enlaces */
.nombre {
  color: #f18921;
  font-weight: bold;
  font-size: 1.8em;
}

.nombre:hover {
  color: #f18921;
  font-weight: bold;
  font-size: 1.8em;
  transition: 0.3s;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #c56a0e;
}

a:hover {
  color: #f18921;
}

/* Animaciones */

.zoom:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Otros */

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.color {
  color: #a7a3a3;
}

.index,
.about,
.history,
.recommended {
  color: #f18921;
}

/* Formulario */
